<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', {title: 'TOG:GJ-SS | Results' }) %>
</head>

<body>
    <header>
        <%- include('includes/header'); %>
    </header>
    <div class="content-container">
        <div class="padding-content"></div>
            <div class="content">
                <% var summonStatisticsObject = summonStatisticsObject %>
                <h2> Your Summon Statistics </h2>
                <h3 class="main-table-header">Total, Blue and Destiny Summons</h3>
                <!-- <h4> Total Summons from history: <% summonStatisticsObject['Total']['summonTotal'] + summonStatisticsObject['Ancient']['summonTotal']%></h4> -->
                <div class="table-container">
                    <table class="main-summons-table">
                        <tr>
                            <td></td>
                            <td>Number of summons</td>
                            <td>Number of legendaries</td>
                            <td>Average legendary pity</td>
                            <td>Number of epics</td>
                            <td>Average epic pity</td>
                        </tr>

                        <% var mainTableKeys = ["Total", "Blue", "Destiny"]; %>
                        <% mainTableKeys.forEach(key => { %>
                            <% var statisticDictionary = summonStatisticsObject[key] %>
                            <tr>
                                <td> <%= key %> </td>
                                    <% for(let [statisticType, statistic] of Object.entries(statisticDictionary)) { %>
                                <td> <%= statistic %> </td>
                                <% } %>
                            </tr>
                        <% }) %>
                    </table>
                </div>
                <p class="main-summons-footer">
                    *Note: Total includes red, blue and destiny summons but not ancient summons since ancient has no legendary pity that shows up on the history.
                </p>
                <h3 class="ancient-summons-header">Ancient Summons</h3>
                <div class="table-container">
                    <table class="ancient-summons-table">
                        <% var ancientTableHeaders = ["Number of summons", "Number of ancients", "Average ancient pity", "Number of legendaries", "Average legendary pity", "Number of epics", "Average epic pity"] %>
                        <% var index=0 %>

                        <tr>
                            <td></td>
                            <td>Ancient</td>
                        </tr>
                        <% for(let [statisticType, statistic] of Object.entries(summonStatisticsObject["Ancient"])) { %>
                            <tr>
                                <td> <%= ancientTableHeaders[index] %> </td>
                                    <% index++ %>
                                <td> <%= statistic %> </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
                <h3>Red Summons</h3>
                <div class="table-container">
                    <table class="red-summons-table">
                        <tr>
                            <td>Banner</td>
                            <td>Number of summons</td>
                            <td>Number of legendaries</td>
                            <td>Average legendary pity</td>
                            <td>50/50s won</td>
                            <td>50/50s lost</td>
                            <td>50/50s win percent</td>
                            <td>Number of epics</td>
                            <td>Average epic pity</td>
                        </tr>
                        <tr>
                            <td> All Reds </td>
                                <% for(let [statisticType, statistic] of Object.entries(summonStatisticsObject["Red"])) { %>
                                    <% if (statisticType === "separateEventStatistics") { %>
                                        <% continue %>
                                    <% } else { %>
                                        <td> <%= statistic %> </td>
                                    <% } %>
                            <% } %>
                        </tr>
                        <% for(let [eventName, statisticObject] of Object.entries(summonStatisticsObject["Red"]["separateEventStatistics"])) { %>
                            <tr>
                                <td> <%= eventName %> </td>
                            <% for(let [statisticType, statistic] of Object.entries(statisticObject)) { %>
                                <td> <%= statistic %> </td>
                            <% } %>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        <div class="padding-content"></div>
    </div>
    <footer>
        <%- include('includes/footer'); %>
    </footer>
</body>
</html>
